################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/EFarma/obj/Debug/net8.0/EFarma.AssemblyInfo.cs
